/* ESTILO*/
body {
    background-color: rgba(238, 240, 253, 0.944);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;

}

header, footer {
    background-color: rgb(201, 192, 220);
    padding: 20px;
    color: rgb(21, 20, 20);
    text-align:center;
    /*  */

}
nav a{
    color: rgba(100, 69, 202, 0.724);
    margin: 0% ;
    text-decoration: none;
}
h1, h2{
    font-family:monospace, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(29, 73, 168);
    text-align: center;
}
.imagen{
    width: 20%;
}
form{
    background-color: rgb(163, 163, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1%;
    border-radius: 10%;
    margin: auto;
    box-shadow: 0 0 10% chocolate ;
    width: 60%;
    text-align: center;

}
input textarea{
    width: 40%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px salmon;
    border-radius: 5px;

}
button{
    background-color: blueviolet;
    color: white;
    font-family:monospace, Times, serif, Geneva, Tahoma, sans-serif Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
